---
import '../styles/global.css'
import Header from "../component/header.astro";
import Layout from '../layouts/Layout.astro';
---
<!doctype html>
<html lang="en">
	<Layout titre="Offres">
    <h1>Offres</h1> </Layout>
</html>